/* --------------Meyer's CSS Rest----------------------------------------------------- */
/* Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* End */

/* --------------HTML5 display-role reset for older browsers -------------------------*/
/* Start */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End */

/*------------------------------ GLOBAL -------------------------------------------------*/
/* Start */
:root {
    --primary-color: rgb(215, 225, 235);
    --secondary-color: rgb(10, 147, 231);
    --header-font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 1.2fr 5fr / 22rem 4fr;
}
/* End */

/*-------------------------- Header ----------------------------------------------*/
/* Start */
header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 25rem;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    background-color: white;
    box-shadow: 0px -1px 13px 8px #bdbdbd;
    z-index: 1;
}
.search-bar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar > label {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(svgs/search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1.25em;
}

.search-bar > input {
    background-color: var(--primary-color);
    width: 75%;
    height: 1.6rem;
    margin: 1.25rem;
    border: none;
    border-radius: 1em;
    padding-left: 1em;
}

.profile {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    padding-right: 3em;
    gap: 1.6em;
}

.profile > div:nth-of-type(1) {
    cursor: pointer;
    height: 1.9rem;
    width: 2.5rem;
    background-image: url(svgs/notification-.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.profile > .profile-pic {
    height: 3.5rem;
    width: 3.5rem;
    background-image: url(imgs/profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
    cursor: pointer;  
}

.profile-greeting {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: 5rem 1fr;
    align-items: flex-start;
    margin-left: 1em;
}

.profile-greeting > .profile-pic {
    height: 3.8rem;
    width: 3.8rem;
    background-image: url(imgs/profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    bottom: 0.5em;
    cursor: pointer;
}

.profile-greeting p  {
    font-weight: bold;
    margin-top: 0.3em; 
}

.profile-greeting p:nth-child(2) {
    font-size: 1.5rem;
}

.buttons {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 1.6em;
    height: 2.5em;
    width: 6.3em;
    cursor: pointer;
}
/* End */

/*------------------------------- Section-Sidebar ------------------------------------------*/
/* Start */
.sidebar {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    align-items: start;
    z-index: 2;
    background-color: var(--secondary-color);
    font-size: var(--header-font-size);
    padding: 2em;
    gap: 3em;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1.6em; 
}

.logo > div {
    height: 3rem;
    width: 3rem;
    background-image: url(svgs/grid.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo > h1 {
    font-size: 2rem;
    font-weight: 700;
}

.sidebar > div li {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 1em;
    gap: 1.9em;
}

.sidebar > div li > div {
    height: 2.2rem;
    width: 2.2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar > .navigation li:nth-of-type(1) > div {
    background-image: url(svgs/home.svg);
}
.sidebar > .navigation li:nth-of-type(2) > div {
    background-image: url(svgs/profile.png);
}
.sidebar > .navigation li:nth-of-type(3) > div {
    background-image: url(svgs/message.png);
}
.sidebar > .navigation li:nth-of-type(4) > div {
    background-image: url(svgs/history.png);
}
.sidebar > .navigation li:nth-of-type(5) > div {
    background-image: url(svgs/tasks.png);
}
.sidebar > .navigation li:nth-of-type(6) > div {
    background-image: url(svgs/communities.png);
}
.sidebar>.settings li:nth-of-type(1)>div {
    background-image: url(svgs/settings.svg);
}
.sidebar>.settings li:nth-of-type(2)>div {
    background-image: url(svgs/support-.png);
}
.sidebar>.settings li:nth-of-type(3)>div {
    background-image: url(svgs/privacy.png);
}

a {
    text-decoration: none;
    color: white;
}
/* End */

/* ---------------------------------Main ----------------------------------------------- */
/* Start */
main {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template: repeat(2, 1fr) / 1fr 19rem;
    background-color: var(--primary-color);
    gap: 1.9rem;
    padding: 1.9rem;
}
/*---------------- Projects -------------------------------------------*/
/* Start */
.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.projects > h1 {
    font-size: var(--header-font-size);
    font-weight: 500;
    margin-bottom: 0.63em;
}

.p-card {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.2rem, 1fr));
    grid-auto-rows: minmax(14rem, 20rem);
    justify-content: space-between;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.63rem;
    border-left: 0.63rem solid #eab308;
    background-color: white;
    padding: 1.9rem;
    box-shadow: 0px 9px 15px 0px #bdbdbd;
    gap: 1.8rem; 
    cursor: pointer;
}

.card > .text > h2 {
    font-size: 1.2rem;
    font-weight: bold;
}
.card > .text > p {
    margin-top: 0.3rem;
    color: rgb(124, 124, 124);
}
.card > .icons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.icons > div {
    height: 1.6rem;
    width: 1.6rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons > div:nth-of-type(1) {
    background-image: url(svgs/star.png);
}
.icons > div:nth-of-type(2) {
    background-image: url(svgs/eye.png);
}
.icons > div:nth-of-type(3) {
    background-image: url(svgs/fork.png); 
}
/* End */

/*---------------------------- Announcements -----------------------------*/
/* Start */
.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.announcements > h1 {
    font-size: var(--header-font-size);
    font-weight: 500;
    margin-bottom: 0.63em;
}

.a-card {
    flex: 1;
    background-color: white;
    border-radius: 0.63em;
    padding: 1em 1.6em;
    box-shadow: 0px 9px 15px 0px #bdbdbd;
}

.a-card div {
    padding: 1rem 0.3rem;
    border-bottom: 2px solid lightgray; 
    cursor: pointer;
}

.a-card div:nth-of-type(3) {
    border-bottom: none;
}

.a-card div h2 {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.a-card div p {
    color: rgb(124, 124, 124);
    font-size: 0.9em;
}
/* End */
